{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom fonts for this template-->
    <link href="{{ asset('admin/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('admin/css/sb-admin-2.min.css')}}" rel="stylesheet">

    <link href="{{ asset('admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Logo-->
            <a class="d-flex align-items-center justify-content-center" href="{{ url('admin-home') }}">

                <div class="">
                <img class="logo" src="{{ asset('/user/images/logo.png') }}" alt="">
</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Accueil -->
            <li class="nav-item {% if app.request.get('_route') == 'admin-home' %}active{% endif %}">
                <a class="nav-link" href="{{ url('admin-home') }}">
                    <span>Accueil</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            <!-- Nav Item - Pensionnaire en adoption -->
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'admin-lodgers' %}active{% endif %}" href="{{ url('admin-lodgers') }}" >
                    <span>Pensionnaires en adoption</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <!-- Nav Item - Hors adoption : Adoptés, décédés ou retrouvés -->
            <li class="nav-item">
                <p class="nav-link m-0" >
                    <span>Hors adoption</span>
                </p>
                <div class="" >
                    <div class=" py-2 rounded">
                        <ul style="list-style: none">
                            <li class="nav-item {% if app.request.get('_route') == 'adopted' %}active{% endif %}"> <a class=" nav-link " href="{{ url('adopted') }}"><span>Adoptés</span></a></li>
                            <li class="nav-item {% if app.request.get('_route') == 'deceased' %}active{% endif %}"> <a class="nav-link" href="{{ url('deceased') }}"><span>Décédés</span></a></li>
                            <li class="nav-item {% if app.request.get('_route') == 'recovered' %}active{% endif %}"><a class="nav-link " href="{{ url('recovered') }}"><span>Récupérés</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">




        </ul>
        <!-- End of Sidebar -->
         <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                   <!-- Topbar Search -->
                    {% set searchForm = getSearchForm() %}


                         {{ form_start(searchForm) }}
                        <div class="input-group">
                           {{ form_widget(searchForm.keyword) }}

                        </div>
                        {{ form_end(searchForm) }}


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

            {% if app.user %}
                        <li>
                         <a class="dropdown-item" href="{{ path('app_logout') }}" >
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                         </a>
                        </li>
                        {% endif %}

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
    {% block page %}

    {% endblock page %}

</div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Travail de fin d'étude - Julène Delvaux - 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

{% endblock body %}

 {% block javascripts %}
     <script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
     <script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

     <!-- Core plugin JavaScript-->
     <script src="{{ asset('admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

     <!-- Custom scripts for all pages-->
     <script src="{{ asset('admin/js/sb-admin-2.min.js') }}"></script>

     <!-- Page level plugins -->
     <script src="{{ asset('admin/vendor/chart.js/Chart.min.js') }}"></script>

     <!-- Page level custom scripts -->
     <script src="{{ asset('admin/js/demo/chart-area-demo.js') }}"></script>
     <script src="{{ asset('admin/js/demo/chart-pie-demo.js') }}"></script>
      {{ parent() }}
    <script>
        $(document).ready(function () {
            $($('.add-another-collection-widget').attr('data-list-selector'))
                .find('.existantPhotos').append(createButton());
            $('.add-another-collection-widget').click(function (e) {
                var list = $($(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;
                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);
                // create a new list element and add it to the list
                var newElem = $(list.attr('data-widget-tags')).html(newWidget);
                var button = createButton();
                newElem.find('input').after(button);
                newElem.appendTo(list);
            });
        });
        function createButton() {
            var button = $('<button class="btn btn-danger removeElement" type="button">-</button>');
            button.click(function(e) {
                $(this).parents('li').remove();
            });
            return button;
        }
    </script>

 {% endblock javascripts %}