{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Pensionnaires {% endblock title %}

{% block page %}
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            {% for lodger in lodgers %}
            <div class="card m-3">
                <div class="row no-gutters">
                    <div class="col-sm-3">
                        <img src="{{ asset('uploads/routebergue-62fa9d32a4cee.png') }}" class="card-img">
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            {% if lodger.lastChance %}
                                <div class="last-chance">
                                    <i class="fa fa-heart text-danger fa-4x" style="rotate : 30deg;"></i>
                                </div>
                            {% endif %}
                            <h5 class="card-title">{{ lodger.name }} | {{ lodger.borthDate | age }} ans </h5>
                            <h6 class="card-title">{{ lodger.races }}</h6>
                            <ul class="list-inline">
                                S'entend avec
                        {% for getOns in lodger.getOn %}
                            <li class="card-text list-inline-item badge badge-primary" >{{ getOns.name }}</li>
                        {% endfor %}
                            </ul>
                            <p class="card-text">
                                {{ lodger.personality }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock page %}




