{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Pensionnaires {% endblock title %}

{% block page %}


    {{ form_start(searchFullForm, {attr:{class: 'col-md-12'} }) }}
    <div class="row">
        <div class="col-md-8">
        {{ form_widget(searchFullForm.keyword) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(searchFullForm.submit) }}
        </div>
        <button class="btn btn-primary col-md-2" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseExample">
            Affiner sa recherche
        </button>


    </div>
    <div class="row mt-5 collapse" id="collapseSearch" >
        <div class="col ">
            <h4 class="widget-header">{{ form_label(searchFullForm.species) }}</h4>
            {{ form_widget(searchFullForm.species) }}
        </div>
        <div class="col">
            <h4 class="widget-header">Sexe</h4>
            {{ form_widget(searchFullForm.sexe) }}
        </div>
        <div class="col">
            <h4 class="widget-header">S'entend avec</h4>
            {{ form_widget(searchFullForm.getOns) }}
        </div>
        <div class="col">
            <h4 class="widget-header">Dernière chance</h4>
            {{ form_widget(searchFullForm.lastChance) }}
        </div>
    </div>

    {{ form_end(searchFullForm) }}

    <div class="d-flex flex-row-reverse">
        <a data-placement="top" title="Ajouter" class="add " href="{{ url('add-lodgers') }}"
           style="margin: 20px 50px 30px 0;">
            <i class="fa fa-plus-circle fa-2x"></i>
        </a>
    </div>

    {% include 'elements/lodgers-card.html.twig' %}

    <!-- pagination -->
    <div class="self-pagination row justify-content-center ">
        {{ knp_pagination_render(lodgers) }}
    </div>

{% endblock page %}




